/MatchTracker.dll
/MatchTracker.pdb

*/bin/*
*/obj/*
*/Output/*
*launchSettings.json

build/build_compiled.hash
*.TMP
ThirdParty/DuckGame.exe
Settings/*.json
*.user
*/appsettings.json
.vs/*
ThirdParty/ffmpeg.exe
UploaderTask/
*/Properties/*
.vscode/
