/MatchTracker.dll
/MatchTracker.pdb

MatchRecorder/.vs
MatchRecorder/bin/
MatchRecorder/obj/
MatchRecorder/Properties/launchSettings.json

MatchUploader/bin/
MatchUploader/obj/

MatchViewer/bin/
MatchViewer/obj/

build/build_compiled.hash
.vs/
*.TMP
ThirdParty/DuckGame.exe
Settings/uploader.json
*.user
