/MatchTracker.dll
/MatchTracker.pdb

MatchRecorder/.vs
MatchRecorder/bin
MatchRecorder/obj
MatchUploader/obj/
MatchUploader/bin/
MatchUploader/obj/
build/build_compiled.hash
.vs/
*.TMP
ThirdParty/DuckGame.exe
MatchRecorder/Properties/launchSettings.json
client_secrets.json
*.TokenResponse-user
Settings/uploader.json
