
<div class="card" style="width: 320px; height: 180px">
    <div class="card-header">
        @matchName
    </div>

    add a carousel here or something
</div>

@functions
{
    [Parameter]
    String matchName { get; set; }

    MatchData matchData = null;

    protected override async Task OnParametersSetAsync()
    {
        if( matchName == "" )
        {
            return;
        }

        matchData = await MatchDatabase.GetMatchData( matchName );
    }
}