@inject IMatchDatabase MatchDatabase
<div class="card text-right" style="width: 240px; height: 180px">
    <img class="card-img-top" src=@GetImage() alt=@roundName title=@roundName />
    <div class="card-img-overlay">
        <h5 class="card-title">@GetDuration()</h5>
    </div>
</div>

@functions
{
    [Parameter]
    String roundName { get; set; }

    [Parameter]
    int taskDelay { get; set; }

    //set once it's done loading the data
    private RoundData roundData;

    String GetImage()
    {
        if( roundData != null )
        {
            return string.Format( "https://img.youtube.com/vi/{0}/0.jpg" , roundData.youtubeUrl );
        }
        return "missingvideo.png";
    }

    String GetDuration()
    {
        TimeSpan duration = new TimeSpan( 0 , 0 , 0 , 0 , 0 );

        if( roundData != null )
        {
            duration = roundData.GetDuration();
        }


        return duration.ToString( "mm':'ss" );
    }

    protected override bool ShouldRender()
    {
        return roundData != null;
    }



    protected override async Task OnParametersSetAsync()
    {
        if( roundName == "" )
        {
            return;
        }

        //test with a fake delay for now
        await Task.Delay( TimeSpan.FromMilliseconds( taskDelay * 200 ) );
        roundData = await MatchDatabase.GetRoundData( roundName );
        
    }
}
