@page "/"


@if( globalData != null )
{
    <p>There are currently @globalData.matches.Count matches recorded and @globalData.rounds.Count rounds played</p>
}
else
{
    <p>Loading data</p>
}


@functions
{
    GlobalData globalData = null;

    protected override async Task OnInitAsync()
    {
        globalData = await MatchDatabase.GetGlobalData();
    }
}