@page "/matchview"
@inject IMatchDatabase MatchDatabase

<div class="row no-gutters">
    @if( globalData != null )
    {
        foreach( String matchName in globalData.matches )
        {
            <div class="col-md-auto">
                <MatchElement matchName=@matchName></MatchElement>
            </div>
        }
    }
</div>


@functions
{


    GlobalData globalData = null;

    protected override async Task OnInitAsync()
    {
        globalData = await MatchDatabase.GetGlobalData();
    }
}