@page "/roundview"
@page "/roundview/{matchName}"

@implements IDisposable

<div class="row no-gutters">
    @if( globalData != null )
    {
        int i = 0;
        foreach( String roundName in globalData.rounds )
        {
            <div class="col-md-auto">
                <RoundElement roundName=@roundName></RoundElement>
            </div>
            i++;
        }
    }
</div>




@functions
{
    //I can't exactly add parameter to it just yet as it's an optional one, and I dunno how blazor handles it just yet, we'll see
    //[Parameter]
    String matchName { get; set; }

    GlobalData globalData = null;

    protected override async Task OnInitAsync()
    {

        //MatchDatabase.LoadAllData();
        globalData = await MatchDatabase.GetGlobalData();
    }

    public void Dispose()
    {
        //reset the queued requests when we move away from this page
        RoundElement.QueuedRequests = 0;
    }

}
